In [25]:
import pandas as pd

In [26]:
def scaler(df):
    for column in reversed(df.columns):
        print(column)
        df.loc[:, column] = df.loc[:, column] / df.iloc[:,0]
    return df

In [27]:
data = {1:[2,2,2,2], 2:[4,4,4,4], 3:[6,6,6,6], 4:[8,8,8,8]}
df = pd.DataFrame(data)

In [28]:
df

   1  2  3  4
0  2  4  6  8
1  2  4  6  8
2  2  4  6  8
3  2  4  6  8

In [29]:
df.iloc[:,0]

0    2
1    2
2    2
3    2
Name: 1, dtype: int64

In [30]:
df_scaled = scaler(df.copy())

4
3
2
1

In [31]:
df_scaled

     1    2    3    4
0  1.0  2.0  3.0  4.0
1  1.0  2.0  3.0  4.0
2  1.0  2.0  3.0  4.0
3  1.0  2.0  3.0  4.0

In [32]:
df

   1  2  3  4
0  2  4  6  8
1  2  4  6  8
2  2  4  6  8
3  2  4  6  8